matplotlib
numpy
pandas
Pillow
scikit-learn
seaborn
sklearn
streamlit
pickle-mixin
pickleshare
tensorboard==2.4.0
tensorboard-plugin-wit==1.7.0
tensorflow==2.4.0
tensorflow-estimator==2.4.0
